.footer {
  position: relative;
  width: 100%;
  height: 150px;
  text-align: center;
  background-color: #494d58;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
}
