.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex-grow: 1;
}

.uploads-container {
  font-size: 3rem;
}

.uploads-container li {
  color: violet;
}
