.NavBody-parent {
  width: 300px;
  height: 100%;
  /* border-right: 1px solid rgb(196, 175, 141); */
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  background-color: #a0d2eb;
}

.NavBody-parent ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.NavBody-parent ul li {
  text-decoration: none;
  list-style-type: none;
  padding: 20px 40px;
  margin: 0 10px;
  background-color: aliceblue;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out; /* add transition property */
}

.NavBody-parent li:hover {
  background-color: yellow;
  transition: 0.2s;
  cursor: pointer;
  transform: scale(1.05); /* increase scale on hover */
}

a:-webkit-any-link {
  text-decoration: none;
  color: rgb(56, 56, 56);
}
